<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1><%= projet %></h1>
    <a href="/">Home</a> 

    <p data-height="268" data-theme-id="2067" data-slug-hash="pJPPZm" data-default-tab="result" data-user="bizu65" class='codepen'>See the Pen <a href='http://codepen.io/bizu65/pen/pJPPZm/'>pJPPZm</a> by bizu (<a href='http://codepen.io/bizu65'>@bizu65</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <hr />
    <p data-height="268" data-theme-id="2067" data-slug-hash="KpNOqx" data-default-tab="result" data-user="bizu65" class='codepen'>See the Pen <a href='http://codepen.io/bizu65/pen/KpNOqx/'>WC</a> by bizu (<a href='http://codepen.io/bizu65'>@bizu65</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
</body>
</html>